# Application
APP_ENV=development
LOG_LEVEL=INFO

# TimescaleDB
TIMESCALEDB_IMAGE=timescale/timescaledb:2.28.0-pg17

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=air_quality_db
POSTGRES_USER=air_quality_user
POSTGRES_PASSWORD=change_me
POSTGRES_CONNECT_TIMEOUT=10

# MinIO container
MINIO_IMAGE=quay.io/minio/minio:RELEASE.2025-09-07T16-13-09Z

MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

MINIO_ROOT_USER=change_me
MINIO_ROOT_PASSWORD=change_me

# Python MinIO client
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=change_me
MINIO_SECRET_KEY=change_me
MINIO_SECURE=false

# Data Lake buckets
MINIO_RAW_BUCKET=air-quality-raw
MINIO_CLEAN_BUCKET=air-quality-clean
MINIO_MART_BUCKET=air-quality-mart

# Open-Meteo
OPEN_METEO_AIR_QUALITY_URL=https://air-quality-api.open-meteo.com/v1/air-quality

# FastAPI
FASTAPI_HOST=0.0.0.0
FASTAPI_PORT=8000

# Streamlit
STREAMLIT_PORT=8501

AIRFLOW_FERNET_KEY=replace_with_fernet_key
AIRFLOW_WEBSERVER_SECRET_KEY=replace_with_secret_key

AIRFLOW_ADMIN_USERNAME=admin
AIRFLOW_ADMIN_PASSWORD=change_this_password
AIRFLOW_ADMIN_FIRSTNAME=Air
AIRFLOW_ADMIN_LASTNAME=Quality
AIRFLOW_ADMIN_EMAIL=admin@example.com

API_PORT=8000

DASHBOARD_PORT=8501