# Application
APP_ENV=development
LOG_LEVEL=INFO

# TimescaleDB
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=air_quality_db
POSTGRES_USER=air_quality_user
POSTGRES_PASSWORD=change_me

# MinIO
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=change_me
MINIO_SECURE=false

# MinIO buckets
MINIO_RAW_BUCKET=raw
MINIO_CLEAN_BUCKET=clean
MINIO_MART_BUCKET=mart

# Open-Meteo
OPEN_METEO_AIR_QUALITY_URL=https://air-quality-api.open-meteo.com/v1/air-quality

# FastAPI
FASTAPI_HOST=0.0.0.0
FASTAPI_PORT=8000

# Streamlit
STREAMLIT_PORT=8501