# HTTP API ingestion
requests>=2.32,<3.0
tenacity>=9.0,<10.0

# Environment variables
python-dotenv>=1.0,<2.0

# Data processing
pandas>=2.2,<3.0
pyarrow>=18.0,<24.0
tzdata>=2025.1

# Database
psycopg[binary]>=3.2,<4.0

# Testing
pytest>=8.0,<10.0

# Object storage
minio>=7.2.19,<8.0

# API serving
fastapi
uvicorn[standard]

# Dashboard
streamlit

# FastAPI TestClient
httpx>=0.27,<1.0